torch>=1.7.1
torchvision>=0.8.2
torchdiffeq
geotorch
requests~=2.25.1
numpy>=1.19.4
Jinja2~=3.1.2
timm~=0.6.7
tqdm~=4.56.1
pandas~=1.5.0
git+https://github.com/fra31/auto-attack.git@6482e4d6fbeeb51ae9585c41b16d50d14576aadc#egg=autoattack
